name: Build and deploy java in webapp

on:
 workflow_dispatch: 

permissions:
  id-token: write
  contents: read
  

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: '8' # Change if your app uses a different version
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean package

      
      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: java-app
          path: target/*.war

    
